<h1>Modelos de Produtos</h1>

<p><%= link_to 'Cadastrar Novo', new_product_model_path %></p>

<% if @product_models.any? %>
  <% @product_models.each do |pm| %>
    <div>
      <h2><%= pm.name %></h2>

      <dl>
        <dt>Fornecedor: </dt>
        <dd><%= pm.supplier.brand_name %></dd>
        <dt>SKU: </dt>
        <dd><%= pm.sku %></dd>
      </dl>
    </div>
  <% end %>
<% else %>
  <p>Nenhum modelo de produto cadastrado</p>
<% end %>