<h1>Galpões & Estoque</h1>


<h2>Galpões</h2>

<% if @warehouses.empty? %>
  <p>Não existem galpões cadastrados</p>
<% else %>
  <% @warehouses.each do |w| %>
    <p><%= w.name %></p>
    <p>Cidade: <%= w.city %></p>
    <p>Código: <%= w.code %></p>
    <p><%= w.area %> m2</p>
  <% end %>
<% end %>